include README.md
include agfusion/data/agfusion.db.gz
include agfusion/data/042017_pdb_pfam_mapping.txt.gz
include bin/agfusion
include test/test.py
include test/test_mouse.sh
include test/test_human.sh
